<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetdev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:theme="@style/AppTheme">
        <activity android:name=".Etudiant_Par_Stage_Activity"></activity>
        <activity android:name=".Stage_Details" />
        <activity android:name=".EtudiantFunc1Activity" />
        <activity android:name=".EntFunc2Activity" />
        <activity android:name=".EntFunc1Activity" />
        <activity android:name=".HomeActivityEntreprise" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AccountCreation" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>